name: Deploy AWS Serverless App

on:
 push:
  branches:
    - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node js
      uses: actions/setup-node@v4
      with:
        node-version: 18
    
    - name: Install Serverless Framework
      run: npm install -g serverless

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.aAWS-ACESS-KEY-ID }}
        aws-secret-access-key: ${{ secrets.AWS-ACESS-SECRET-KEY-ID }}
        aws-region: ap-south-1

    - name: Deploy to AWS
      run: serverless deploy
